{% extends "layout.html" %}
{% block body %}

<h4 class="ui horizontal divider header">
    <i class="plus icon"></i>
    Add new path
</h4>


<div class="ui right action left icon fluid input">
    <i class="folder icon"></i>
    <input id="newPath" type="text" placeholder="/home/User/Pictures">
    <div class="ui floating positive button" onclick="add()">
        <div class="text">Add</div>
    </div>
</div>

<!-- PROGRESS DURING ADDING -->

<div id="progress" class="ui indicating blue progress">
    <div class="bar"></div>
</div>
<!--

    <div class="ui checked checkbox">
    <input type="checkbox" checked="">
    <label>Subdirectories</label>
</div>
<form action="/add" method="post">
    <input type="text" name="path" value="/home/luca/Pictures/">
    <button type="submit">Add</button>
</form>
-->



<h4 class="ui horizontal divider header">
    <i class="database icon"></i>
    Saved path
</h4>

<div class="ui fluid styled accordion">
    {% for path,images in data.items() %}
    <div class="title">
        <i class="dropdown icon"></i>
        {{ path }}
    </div>
    <div class="content">
        <div class="ui  divided selection list">
            {% for image in images %}
            <div class="item">
                <div class="right floated content">
                    <div class="ui primary button">Check</div>
                    <div class="ui negative button">Exclude</div>
                </div>
                <div class="middle content content">
                    <img class="ui avatar image" src="{{ url_for('static',filename='symlinks/' + image.name)}}">
                    {{ image.name }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- GRID VIEW
<div class="ui divider"></div>
<div class="ui four cards">
    {% for path,images in data.items() %}
    {% for image in images %}
    <div id="{{ image.id }}" class="card blurring">
        <div class="image">
            <img src="{{ url_for('static',filename='symlinks/' + image.name) }}"">
        </div>
        <div class=" content">
            <div class="header">

                {{ image.name }}
            </div>
            <div class="meta">
                <span class="date">{{ image.capture_time }}</span>
            </div>
            <div class="description">
                {{ image.path }}
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic blue button"># Duplicates</div>
                <div class="ui basic red button" onclick="remove({{ image.id }})">Exclude</div>
            </div>
        </div>
        <div class="ui bottom aligned dimmer">
            <div class="content">
                <div class="ui button">Undo</div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
-->

<script>
    $('.ui.accordion').accordion();
    var refreshIntervalId = null;
    var last = 0;

    function add() {
        $.ajax({
            type: "POST",
            url: "/add",
            data: { path: $("#newPath").val() },
            success: function (response) {
                // If positive status
                if (response['status'] >= 0) {
                    console.log(response['counter']);
                    $('#progress').progress({ total: response['counter'] });
                    // Display a progress bar and a list with processed images
                    last = response['counter'];
                    refreshIntervalId = setInterval(function () { updateStatus(response['counter']) }, 500);
                }
            }
        });
    };

    function updateStatus(total) {
        $.ajax("/add/status", {
            success: function (update) {
                // Stop updating
                if (update < last)
                    for (i = 0; i < (last - update); i++)
                        $("#progress").progress('increment');
                last = update;
                if (update == 0){clearInterval(refreshIntervalId); location.reload();}
            }
        });
    };

    function remove(id) {
        console.log("Exclude picture with id: " + id);
        $.ajax("/remove/" + id, {
            success: function (status) {
                console.log("Success! " + status);
                // Prevent to dismiss dimmir by clicking on dimmed area
                $("#" + id).dimmer({ closable: false });
                $("#" + id).dimmer('show');
                //document.getElementById("list").removeChild(document.getElementsByTagName("li")[id - 1]);
            }
        })
    };
</script>

<!--    
        <div>
            <input id="folderPicker" type="file" multiple webkitdirectory>
            <div id="filesList">
            Pick a directory.
        </div>
        
        <script>
            let fileList = [];
            let picker = document.getElementById('folderPicker');
            picker.addEventListener('change', (event) => {
                let files = event.target.files;
                let list = document.getElementById('filesList');
                list.innerHTML = 'You selected these files:';
                
                for (let i = 0; i < files.length; i++) {
                    let file = files[i];
                    list.innerHTML += '<br>' + file.webkitRelativePath;
                    fileList.push(file.webkitRelativePath);
                }
            })
            
        </script>
        -->
{% endblock %}