{% extends "layout.html" %}
{% block body %}

    <h1>DupFinder</h1>
    <form action="/add" method="post">
        <input type="text" name="path" value="/home/luca/Pictures/">
        <button type="submit">Add</button>
    </form>

    <ul id="list">
        {% for item in dblist %}
            <li id="item-{{ loop.index }}">
                <img width="160px" height="160px" src="{{ url_for('static',filename='symlinks/' + item.file_name) }}">
                {{ item.path }}<a href="#" onclick="remove()">remove</a>
            </li>
        {% endfor %}
    </ul>

    <script>
        function remove(){

            console.log("We",id)
            $.ajax("/remove/"+id,{
                success: function(status){
                    document.getElementById("list").removeChild(document.getElementsByTagName("li")[id-1]);   
                }
            })
        };
    </script>

    <!-- Drag and drop folder to take path -->

    <!--    
        <input id="folderPicker" type="file" multiple webkitdirectory>
        <div id="filesList">
        Pick a directory.
    </div>
    
    <script>
        let fileList = [];
        let picker = document.getElementById('folderPicker');
        picker.addEventListener('change', (event) => {
            let files = event.target.files;
            let list = document.getElementById('filesList');
            list.innerHTML = 'You selected these files:';
            
            for (let i = 0; i < files.length; i++) {
                let file = files[i];
                list.innerHTML += '<br>' + file.webkitRelativePath;
                fileList.push(file.webkitRelativePath);
            }
        })
        
    </script>
    -->
    {% endblock %}