{% extends "layout.html" %}
{% block body %}

    <h1>DupFinder</h1>
    <form action="/add" method="post">
        <input type="text" name="path" value="/home/luca/Pictures/">
        <button type="submit">Add</button>
    </form>
    <div class="ui divider"></div>
    
    <div class="ui four cards">

        {% for item in dblist %}
        <div class="card">
            <div class="image">
                <img src="{{ url_for('static',filename='symlinks/' + item.name) }}"">
            </div>
            <div class="content">
                <div class="header"> <!-- is an <a> not a <div> -->
                    {{ item.file_name }}
                </div>
                <div class="meta">
                    <span class="date">{{ item.capture_time }}</span>
                </div>
                <div class="description">
                    {{ item.path }}
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic blue button"># Duplicates</div>
                    <div class="ui basic red button">Exclude</div>
                </div>
            </div>
        </div>
        {% endfor %}        
    
    </div>

    <script>
        function remove(){
            console.log("We",id)
            $.ajax("/remove/"+id,{
                success: function(status){
                    document.getElementById("list").removeChild(document.getElementsByTagName("li")[id-1]);   
                }
            })
        };
    </script>

    <!-- Drag and drop folder to take path -->

    <!--    
        <input id="folderPicker" type="file" multiple webkitdirectory>
        <div id="filesList">
        Pick a directory.
    </div>
    
    <script>
        let fileList = [];
        let picker = document.getElementById('folderPicker');
        picker.addEventListener('change', (event) => {
            let files = event.target.files;
            let list = document.getElementById('filesList');
            list.innerHTML = 'You selected these files:';
            
            for (let i = 0; i < files.length; i++) {
                let file = files[i];
                list.innerHTML += '<br>' + file.webkitRelativePath;
                fileList.push(file.webkitRelativePath);
            }
        })
        
    </script>
    -->
    {% endblock %}